<mat-list [style.cursor]="'pointer'">
    <mat-list-item matRipple [routerLink]="[ '/room' ]" routerLinkActive="active-link"
        [matRippleColor]="'rgba(79, 131, 204, 0.10980392156862745)'">
        <mat-icon matListIcon>work</mat-icon>
        <h3 matLine> Conference Room </h3>
    </mat-list-item>

    <mat-list-item matRipple [routerLink]="[ '/employee' ]" routerLinkActive="active-link"
        [matRippleColor]="'rgba(79, 131, 204, 0.10980392156862745)'">
        <mat-icon matListIcon>people_alt</mat-icon>
        <h3 matLine> Employees </h3>
    </mat-list-item>
</mat-list>