mat-sidenav {
    width: 260px;
    max-width: 260px;
  }
  
  .header-drawer-content {
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .header-drawer-bar {
    border-bottom: 1px solid #d6d8dc;
    height: 64px;
  }
  
  .header-lockup {
    float: left;
    height: 100%;
    position: relative;
  }
  
  .header-drawer-bar .header-lockup {
    margin-left: 22px;
  }
  
  .rwa-h-flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
   