<mat-sidenav-container class="example-container-app" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <div class="header-drawer-content">
      <div class="header-drawer-bar d-flex flex-row flex-nowrap align-items-center">
        <div class="header-lockup d-flex align-items-center rwa-h-flex">
          <div class="nunito font-weight-bold" [style.color]="'#00251a'">People Portal</div>
        </div>
      </div>
      <app-side-nav></app-side-nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (toggle)="sidenav.open()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>